<main class="main-content">
  <header class="header-banner">
    Tu perfil de Walker
  </header>

  <div class="content-body">
    <div class="profile-card">
      <div class="user-big-avatar">👤</div>
      <div class="user-details">
        <h2>Kenneth Balboa</h2>
        <p class="user-rank">Rango: <strong>Walker Pro 🏆</strong></p>
        <p class="user-email">kenneth@walkea.com</p>
      </div>
      
      <div class="user-stats">
        <div class="stat-item">
          <strong>12</strong>
          <span>Reportes</span>
        </div>
        <div class="stat-item">
          <strong>85</strong>
          <span>Puntos</span>
        </div>
        <div class="stat-item">
          <strong>4</strong>
          <span>Medallas</span>
        </div>
      </div>
      
      <button class="btn-edit-profile">Editar Perfil</button>
    </div>
    </div>
</main>
