<div class="dashboard-wrapper">
  <aside class="sidebar">
    <div class="sidebar-logo"><img src="logo-walkea.png" class="logo-img"></div>
    <nav class="sidebar-nav">
      <button class="nav-btn" routerLink="/dashboard" routerLinkActive="active">Inicio</button>
      <button class="nav-btn" routerLink="/mapa" routerLinkActive="active">Mapa Completo</button>
      <button class="nav-btn" routerLink="/mis-reportes" routerLinkActive="active">Mis Reportes</button>
      <button class="nav-btn" routerLink="/perfil" routerLinkActive="active">Perfil</button>
      <button class="nav-btn" routerLink="/ajustes" routerLinkActive="active">Ajustes</button>
    </nav>
  </aside>

  <main class="main-content">
    <header class="header-banner">Tu perfil de Walker</header>

    <div class="content-body-list">
      <div class="profile-card">
        <div class="user-big-avatar">👤</div>
        <div class="user-details">
          <h2>Kenneth Balboa</h2>
          <p class="user-rank">Rango: **Walker Pro** 🏆</p>
          <p>Email: kenneth@walkea.com</p>
        </div>
        
        <div class="user-stats">
          <div class="stat-item"><strong>12</strong><span>Reportes</span></div>
          <div class="stat-item"><strong>85</strong><span>Puntos</span></div>
          <div class="stat-item"><strong>4</strong><span>Medallas</span></div>
        </div>
        
        <button class="btn-edit-profile">Editar Perfil</button>
      </div>
    </div>
  </main>
</div>