<div class="dashboard-wrapper">
  <main class="main-content">
    <header class="header-banner">Configuración del sistema</header>

    <div class="content-body-list">
      <div class="settings-container">
        <h3>Preferencias</h3>
        <div class="setting-row">
          <span>Notificaciones de baches cercanos</span>
          <input type="checkbox" checked>
        </div>
        <div class="setting-row">
          <span>Modo Oscuro</span>
          <input type="checkbox">
        </div>
        
        <hr>
        <button class="btn-logout">Cerrar Sesión</button>
      </div>
    </div>
  </main>
</div>